<style>
    a{
        color:inherit;
        text-decoration: none;
    }
</style>

<footer class="bg-dark text-white text-center p-3 mt-5">
    <p>&copy; 2025 Meme Voting Arena. All Rights Reserved.</p>
    <a href="/privacy">Privacy policies</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/terms">Terms of services</a>
</footer>




